@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap);

*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    font-family:"Poopins" , serif ;
}
 body {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh ;
    background: linear-gradient(to right , yellow , orange);
    color:black;
 }